@import "./variables.less";

.router--container {
  display: flex;
  flex-grow: 1;
  width: 100%;

  position: relative;
  margin: 0 20px 0 40px;

  *, *::after, *::before {
    color: white;
    box-sizing: border-box;
  }
}
.router--col {
  flex: 1 0 auto;
  display: flex;
}
.column {
  flex-direction: column;
}
